<%- include("header") -%>

<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis enim in perspiciatis repudiandae ad adipisci mollitia odit? Laborum fuga at beatae aliquid magni veniam culpa dicta dolores earum, alias eveniet hic, corporis pariatur, ea quam repellendus vero labore! Dicta, unde exercitationem. Accusamus, reprehenderit. Soluta est quasi neque, atque eaque ipsa eveniet accusantium consequuntur maxime fugit deleniti magni molestiae laborum placeat quidem quod harum ex pariatur. Dolorum sed voluptates deleniti, soluta perspiciatis numquam quaerat! Nesciunt et libero labore excepturi quisquam molestias aperiam blanditiis facilis dolorum reiciendis vel qui esse porro id consequuntur dolorem ea, veniam in. Sunt necessitatibus nulla sequi eum?</p>

<%- include("footer") -%>
